/*!
 * jquery-drawer v3.2.2
 * Flexible drawer menu using jQuery, iScroll and CSS.
 * http://git.blivesta.com/drawer
 * License : MIT
 * Author : blivesta <design@blivesta.com> (http://blivesta.com/)
 */
 @media screen and (max-width: 768px) {
   .drawer--right .drawer-hamburger {
     right: 5px;
   }}
.drawer-hamburger {
  position: static;
  top: 13px;
}
@media screen and (max-width: 768px) {
 .drawer-hamburger {
   top: 7px;
 }}
.drawer-hamburger img {
  width: 60px;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .drawer-hamburger img  {
    width: 50px;
  }}

.drawer-nav {
  z-index: 1000;
}
#close-drawer {
  width: 45px;
  cursor: pointer;
}
.drawer-menu {
  padding: 15px;
}
.drawer-menu li {
  border-bottom: 1px solid #ccc;
  padding: 15px 5px;
}
.drawer-menu li.close {
  padding: 5px 0px;
}
.drawer-menu li a {
  text-decoration: none;
  border-left: 2px solid #43A847;
  padding-left: 5px;
  padding-top: 1px;
  color: #333;
}
nav .inner {
  height: 100%;
  overflow: scroll;
}
