@charset "UTF-8";
/* CSS Document */

/* page format
------------------------------*/

body {
    line-height: 1;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, sans-serif;
    background: url(../img/common/bg.gif);
    -webkit-text-size-adjust: 100%;
}

/* reset setting
------------------------------*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-size: 100%;
}

/* hr 基本非表示 */

hr {
    display: none;
}

/* img 下揃え */

img {
    vertical-align: bottom;
}

/* link settings
------------------------------*/

a:link {
    color: #222;
    text-decoration: none;
}

a:visited {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #3CB63F;
    text-decoration: underline;
}

a:active {
    color: #3CB63F;
    text-decoration: underline;
}

.link_text a {
    color: #3CB63F;
    text-decoration: underline;
}

.link_text a:hover {
    color: #3CB63F;
    text-decoration: none;
}

/* effect setting
------------------------------*/

/* hover actions */

a.imgHover00:hover img {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha( opacity=0 )";
}

a.imgHover01:hover img {
    opacity: 0.1;
    filter: alpha(opacity=10);
    -ms-filter: "alpha( opacity=10 )";
}

a.imgHover02:hover img {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -ms-filter: "alpha( opacity=20 )";
}

a.imgHover03:hover img {
    opacity: 0.3;
    filter: alpha(opacity=30);
    -ms-filter: "alpha( opacity=30 )";
}

a.imgHover04:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -ms-filter: "alpha( opacity=40 )";
}

a.imgHover05:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "alpha( opacity=50 )";
}

a.imgHover06:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "alpha( opacity=60 )";
}

a.imgHover07:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70 )";
}

a.imgHover08:hover img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
}

a.imgHover09:hover img {
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "alpha( opacity=90 )";
}

/* with transition */

a.imgHover:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70 )";
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* transition */

.fade01 {
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.fade03 {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.fade05 {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/* float and clear border options
------------------------------*/

.f_left {
    float: left;
}

.f_right {
    float: right;
}

.floatclear,
.clr {
    clear: both;
}

.over_h,
.ovh {
    overflow: hidden;
}

.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .cf {
    zoom: 1;
}

/* IE6 */

*:first-child + html .cf {
    zoom: 1;
}

/* IE7 */

/*boeder*/

hr.border {
    border: 0;
    padding: 0;
    clear: both;
    height: 1px;
    display: block;
    border-top: 1px dotted #ccc;
}

hr.border_separate {
    border: 0;
    padding: 0;
    clear: both;
    height: 1px;
    display: block;
    border: none;
}

/* each section setting
------------------------------*/

/* Page Cover for TOP Page */

#container.is_index {
    font-size: 13px;
    background: url(../img/common/top_cover02.gif) top center no-repeat;
}

/* Page Cover for SUB Page */

#container.is_sub {
    font-size: 14px;
    background: url(../img/common/sub_cover.gif) top center no-repeat;
}

/* header TOP Page */

#idx_header {
    width: 980px;
    height: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}

#idx_header_copy {
    float: right;
    width: 250px;
}

#idx_header_navi {
    float: left;
    width: 730px;
}

#idx_header #logo {
    float: left;
}

#idx_header #tel {
    float: right;
}

/* header SUB Page */

#header {
    width: 730px;
    height: 170px;
}

#header #logo {
    float: left;
}

#header #tel {
    float: right;
}

/*navi*/

#g_navi {}

#g_navi li {
    float: left;
}

/*main*/

#contents {
    width: 980px;
    margin: 0 auto 30px;
}

#contents:before,
#contents:after {
    content: "";
    display: table;
}

#contents:after {
    clear: both;
}

#contents {
    *zoom: 1
}

#contents_left {
    width: 730px;
    float: left;
}

#contens_body {
    width: 670px;
}

#contents_right {
    width: 250px;
    float: right;
}

.side_menu {
    padding-bottom: 5px;
}

.side_menu li {
    margin-bottom: 10px;
}

/*footer*/

#footer {}

#contact {
    background: url(../img/common/bg_green.gif);
    text-align: center;
}

#footer_in {
    width: 980px;
    font-size: 13px;
    margin: 0 auto;
    padding: 30px 0 20px;
    overflow: hidden;
    position: relative;
}

#footer_in dl {
    float: left;
}

#footer_in dd {
    line-height: 1.6;
    padding-left: 3px;
}

#footer_in ul {
    float: left;
    margin: 5px 20px 0 0;
}

#footer_in ul li {
    line-height: 1.2;
    padding-left: 15px;
    background: url(../img/common/listmark01.gif) 0 45% no-repeat;
    margin-bottom: 12px;
}

#footer_in p {
    position: absolute;
    right: 0px;
    bottom: 30px;
    color: #aaa;
    font-size: 10px;
    line-height: 15px;
}

#page_top {
    position: fixed;
    right: 20px;
    bottom: 40px;
}

#page_top:hover {
    bottom: 45px;
    -webkit-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
}

#page_top a img {
    opacity: .5
}

#page_top a:hover img {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.f_blog {}

/* normal text style
------------------------------*/

#contents p {
    line-height: 1.6;
    margin: 0 0 1em 0;
}

em {
    color: #4bb151;
    font-weight: bold;
    font-style: normal;
}

strong {
    color: #47b24c;
    font-weight: bold;
    font-style: normal;
}

.fc01 {
    color: #47b24c !important;
    font-weight: bold;
}

/* text align and positions
------------------------------*/

.aln_l {
    text-align: left;
}

.aln_c {
    text-align: center;
}

.aln_r {
    text-align: right;
}

.aln_j {
    text-align: justify;
    text-justify: inter-ideograph;
}

.ps_rl {
    position: relative;
}

.ps_ab {
    position: absolute;
}

/* adjust padding or margin
------------------------------*/

/*padding top*/

.pd_t05 {
    padding-top: 5px;
}

.pd_t10 {
    padding-top: 10px;
}

.pd_t15 {
    padding-top: 15px;
}

.pd_t20 {
    padding-top: 20px;
}

.pd_t25 {
    padding-top: 25px;
}

.pd_t30 {
    padding-top: 30px;
}

.pd_t35 {
    padding-top: 35px;
}

.pd_t40 {
    padding-top: 40px;
}

.pd_t45 {
    padding-top: 45px;
}

.pd_t50 {
    padding-top: 50px;
}

/*padding bottom*/

.pd_b05 {
    padding-bottom: 5px;
}

.pd_b10 {
    padding-bottom: 10px;
}

.pd_b15 {
    padding-bottom: 15px;
}

.pd_b20 {
    padding-bottom: 20px;
}

.pd_b25 {
    padding-bottom: 25px;
}

.pd_b30 {
    padding-bottom: 30px;
}

.pd_b35 {
    padding-bottom: 35px;
}

.pd_b40 {
    padding-bottom: 40px;
}

.pd_b45 {
    padding-bottom: 45px;
}

.pd_b50 {
    padding-bottom: 50px;
}

/*padding left*/

.pd_l05 {
    padding-left: 5px;
}

.pd_l10 {
    padding-left: 10px;
}

.pd_l15 {
    padding-left: 15px;
}

.pd_l20 {
    padding-left: 20px;
}

.pd_l25 {
    padding-left: 25px;
}

.pd_l30 {
    padding-left: 30px;
}

.pd_l35 {
    padding-left: 35px;
}

.pd_l40 {
    padding-left: 40px;
}

.pd_l45 {
    padding-left: 45px;
}

.pd_l50 {
    padding-left: 50px;
}

/*padding right*/

.pd_r05 {
    padding-right: 5px;
}

.pd_r10 {
    padding-right: 10px;
}

.pd_r15 {
    padding-right: 15px;
}

.pd_r20 {
    padding-right: 20px;
}

.pd_r25 {
    padding-right: 25px;
}

.pd_r30 {
    padding-right: 30px;
}

.pd_r35 {
    padding-right: 35px;
}

.pd_r40 {
    padding-right: 40px;
}

.pd_r45 {
    padding-right: 45px;
}

.pd_r50 {
    padding-right: 50px;
}

/*margin top*/

.mg_t05 {
    margin-top: 5px;
}

.mg_t10 {
    margin-top: 10px;
}

.mg_t15 {
    margin-top: 15px;
}

.mg_t20 {
    margin-top: 20px;
}

.mg_t25 {
    margin-top: 25px;
}

.mg_t30 {
    margin-top: 30px;
}

.mg_t35 {
    margin-top: 35px;
}

.mg_t40 {
    margin-top: 40px;
}

.mg_t45 {
    margin-top: 45px;
}

.mg_t50 {
    margin-top: 50px;
}

/*margin bottom*/

.mg_b05 {
    margin-bottom: 5px;
}

.mg_b10 {
    margin-bottom: 10px;
}

.mg_b15 {
    margin-bottom: 15px;
}

.mg_b20 {
    margin-bottom: 20px;
}

.mg_b25 {
    margin-bottom: 25px;
}

.mg_b30 {
    margin-bottom: 30px;
}

.mg_b35 {
    margin-bottom: 35px;
}

.mg_b40 {
    margin-bottom: 40px;
}

.mg_b45 {
    margin-bottom: 45px;
}

.mg_b50 {
    margin-bottom: 50px;
}

/*margin right*/

.mg_r05 {
    margin-right: 5px;
}

.mg_r10 {
    margin-right: 10px;
}

.mg_r15 {
    margin-right: 15px;
}

.mg_r20 {
    margin-right: 20px;
}

.mg_r25 {
    margin-right: 25px;
}

.mg_r30 {
    margin-right: 30px;
}

.mg_r35 {
    margin-right: 35px;
}

.mg_r40 {
    margin-right: 40px;
}

.mg_r45 {
    margin-right: 45px;
}

.mg_r50 {
    margin-right: 50px;
}

/*margin left*/

.mg_l05 {
    margin-left: 5px;
}

.mg_l10 {
    margin-left: 10px;
}

.mg_l15 {
    margin-left: 15px;
}

.mg_l20 {
    margin-left: 20px;
}

.mg_l25 {
    margin-left: 25px;
}

.mg_l30 {
    margin-left: 30px;
}

.mg_l35 {
    margin-left: 35px;
}

.mg_l40 {
    margin-left: 40px;
}

.mg_l45 {
    margin-left: 45px;
}

.mg_l50 {
    margin-left: 50px;
}

/* adjust box width % */

.box01 {
    width: 1%;
}

.box02 {
    width: 2%;
}

.box03 {
    width: 3%;
}

.box04 {
    width: 4%;
}

.box05 {
    width: 5%;
}

.box06 {
    width: 6%;
}

.box07 {
    width: 7%;
}

.box08 {
    width: 8%;
}

.box09 {
    width: 9%;
}

.box10 {
    width: 10%;
}

.box11 {
    width: 11%;
}

.box12 {
    width: 12%;
}

.box13 {
    width: 13%;
}

.box14 {
    width: 14%;
}

.box15 {
    width: 15%;
}

.box16 {
    width: 16%;
}

.box17 {
    width: 17%;
}

.box18 {
    width: 18%;
}

.box19 {
    width: 19%;
}

.box20 {
    width: 20%;
}

.box21 {
    width: 21%;
}

.box22 {
    width: 22%;
}

.box23 {
    width: 23%;
}

.box24 {
    width: 24%;
}

.box25 {
    width: 25%;
}

.box26 {
    width: 26%;
}

.box27 {
    width: 27%;
}

.box28 {
    width: 28%;
}

.box29 {
    width: 29%;
}

.box30 {
    width: 30%;
}

.box31 {
    width: 31%;
}

.box32 {
    width: 32%;
}

.box33 {
    width: 33%;
}

.box34 {
    width: 34%;
}

.box35 {
    width: 35%;
}

.box36 {
    width: 36%;
}

.box37 {
    width: 37%;
}

.box38 {
    width: 38%;
}

.box39 {
    width: 39%;
}

.box40 {
    width: 40%;
}

.box41 {
    width: 41%;
}

.box42 {
    width: 42%;
}

.box43 {
    width: 43%;
}

.box44 {
    width: 44%;
}

.box45 {
    width: 45%;
}

.box46 {
    width: 46%;
}

.box47 {
    width: 47%;
}

.box48 {
    width: 48%;
}

.box49 {
    width: 49%;
}

.box50 {
    width: 50%;
}

.box51 {
    width: 51%;
}

.box52 {
    width: 52%;
}

.box53 {
    width: 53%;
}

.box54 {
    width: 54%;
}

.box55 {
    width: 55%;
}

.box56 {
    width: 56%;
}

.box57 {
    width: 57%;
}

.box58 {
    width: 58%;
}

.box59 {
    width: 59%;
}

.box60 {
    width: 60%;
}

.box61 {
    width: 61%;
}

.box62 {
    width: 62%;
}

.box63 {
    width: 63%;
}

.box64 {
    width: 64%;
}

.box65 {
    width: 65%;
}

.box66 {
    width: 66%;
}

.box67 {
    width: 67%;
}

.box68 {
    width: 68%;
}

.box69 {
    width: 69%;
}

.box70 {
    width: 70%;
}

.box71 {
    width: 71%;
}

.box72 {
    width: 72%;
}

.box73 {
    width: 73%;
}

.box74 {
    width: 74%;
}

.box75 {
    width: 75%;
}

.box76 {
    width: 76%;
}

.box77 {
    width: 77%;
}

.box78 {
    width: 78%;
}

.box79 {
    width: 79%;
}

.box80 {
    width: 80%;
}

.box81 {
    width: 81%;
}

.box82 {
    width: 82%;
}

.box83 {
    width: 83%;
}

.box84 {
    width: 84%;
}

.box85 {
    width: 85%;
}

.box86 {
    width: 86%;
}

.box87 {
    width: 87%;
}

.box88 {
    width: 88%;
}

.box89 {
    width: 89%;
}

.box90 {
    width: 90%;
}

.box91 {
    width: 91%;
}

.box92 {
    width: 92%;
}

.box93 {
    width: 93%;
}

.box94 {
    width: 94%;
}

.box95 {
    width: 95%;
}

.box96 {
    width: 96%;
}

.box97 {
    width: 97%;
}

.box98 {
    width: 98%;
}

.box99 {
    width: 99%;
}

.box100 {
    width: 100%;
}
